body.admin-body {
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #2a3447;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}


/* Conteudo da página */
.container {
    display: flex;
    flex: 1;
}

/* Menu esquerdo */
.menu-admin {
    height: 30px;
}
.logo {
    height: 65px;
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
    filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(206deg) brightness(102%) contrast(105%);
}

.menu-container {
    width: 200px;
    padding: 5px 20px;
    border-right: 2px solid #384256;
}

.left-menu ul li {
    list-style: none;
}

.item {
    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.item:hover {
    background-color: #384256;
    border-radius: 5px;
}

.icon-size {
    margin-left: 5px;
}

.item-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Conteudo principal */
.content-container {
    padding: 20px;
    width: 100%;
    padding-bottom: 0;
}

/* Rodapé */
.footer-admin {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: auto;
    font-weight: bold;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    border-top: 2px solid #384256;

}

/* Dados */
.data-grid {
    background-color: white;
    padding: 5px 20px;
}

.MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
}

.css-1kwdphh-MuiDataGrid-virtualScrollerContent  {
    min-height: 50px !important;
}

.data-img-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.data-img {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.action-btn {
    padding: 6px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-weight: 700;
}

.edit {
    margin-right: 5px;
    background-color: rgb(255,193,7);
}

.delete {
    background-color: rgb(220,53,69);
}

.info {
    display: flex;
    margin-bottom: 10px;
}

.info h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.btn-add {
    margin-left: 10px;
    background-color: rgb(45, 188, 57);
}

.item-link span {
    font-size: 16px;
    padding-top: 2px;
}

.data-grid {
    width: 100%!important;
    height: 100%!important;
}

.btn-add {
    position: absolute;
    left: 375px;
}

.info-home {
    display: flex;
    flex-direction: column;
}

.info-home p {
    margin-top: 30px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    background-color: rgb(21,31,46);
    align-items: center;
    width: 410px;
}

.modal-btn {
    color: rgb(133,150,165);
    background-color: rgb(11,22,34);
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.file-container {
    background-color: rgb(11,22,34);
    box-sizing: border-box;
    display: flex;
    width: 200px;
    outline: 2px dashed rgba(159, 173, 189, 0.2);
    height: 200px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    position: relative;
}

.input-file {
    cursor: pointer;
    height: 200px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.modal-btn-submit {
    color: white;
    width: 150px;
    height: 30px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgb(45, 188, 57);
}

.modal-btn-submit:hover {
    cursor: pointer;
}

.modal-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
    color: rgb(159, 173, 189);
    align-self: flex-start;
}

.info-home p {
    font-size: 20px;
    letter-spacing: 0.8px;
}

.content-container, .admin-products, .admin-services, .admin-brands, .admin-announcements {
    overflow-x: auto;
}

.data-table {
    min-width: 1200px;
    overflow-x: auto;
}

.modal-img, .file-container-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img-container {
    display: flex;
    gap: 10px;
}

.status-modal {
    display: flex;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 20px;
}

.label-checkbox {
    margin-bottom: 0;
}

.modal-checkbox {
    margin-left: 10px;
}

.brand-img {
    object-fit: contain!important;
}