.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative; 
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.navigation-manual .manual-btn{
    border: 1px solid white;
    padding: 6px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.navigation-manual .manual-btn:not(:last-child){
    margin-right: 30px;
}

.navigation-manual .manual-btn:hover{
    background-color: white;
}

#b1:checked ~ .first{
    margin-left: 0%;
}
#b2:checked ~ .first{
    margin-left: -25%;
}
#b3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 1px solid white;
    padding: 6px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
}

#b1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#b2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#b3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#b1:checked ~ #b1{
    background-color: white;
}

.announcements-container {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
}

.announcements-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slick-dots {
    bottom: 25px!important;
    z-index: 2;
}

.slick-dots li button:before {
    font-size: 18px!important;
    color: white!important;
}

.announcements-container .slick-track::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 65px;
    background: linear-gradient(180deg, rgba(24, 26, 27, 0), rgba(24, 26, 27, 0.8));
    bottom: 4px;
}

.slick-slide, .slick-slide *{ 
    outline: none !important; 
}