footer {
    width: 100%;
    background-color: var(--color-foreground);
    color: var(--color-font);
    border-top: 1px solid var(--color-border);
    margin-top: auto;
} 

#footer-content {
    display: flex;
    justify-content: center;
    gap: 2%;
    font-family: 'Montserrat';
}

#footer-contacts h1{
    margin-bottom: 0.75rem;
}

#footer-contacts p{
    color: var(--color-font);
}

#footer-numbers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    list-style: none;
}

#footer-numbers .footer-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#footer-numbers .footer-link i{
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

#footer-numbers .footer-link p{
    white-space: nowrap;
}

#telephone{
    color: blue;
}

#whatsapp{
    color: green;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--color-font);
    transition: all 0.4s;
    text-decoration: none;
}

.footer-booton{
    background-color: darkgoldenrod;
    color: white;
    display:block; position:relative; float:left;
    margin:20px;
    width:200px;                             
    line-height:50px;                        
    text-align:center;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
    transition: 0.4s;
}

.footer-booton:hover{
    opacity: 0.8;
}

#footer-copyright{
    display: flex;
    justify-content: center;
    background-color: #0e0c0c;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.footer-shops {
    width: 25%;
}

.footer-budgets {
    width: 20%;
}

.footer-icon {
    margin-right: 5px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 3rem 1.5rem;
    box-sizing: border-box;
}

.copyright{
    margin-top: 35px;
    font-family: 'Montserrat';
    text-align: center;
}

.footer-list li .footer-theme {
    display: flex;
    cursor: pointer;
}

.footer-list li .footer-theme p {
    margin-left: 15px;
}

#footer-content a:hover, .footer-theme p:hover, .footer-link p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.contact-link {
    color: white!important;
    background-color: var(--color-orange);
    width: 165px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.contact-link:hover {
    color: var(--color-font)!important;
    background-color: var(--color-midground);
    text-decoration: none!important;
}

.contact-link-container {
    width: 100%;
    display: flex;
}

/* Adicionar responsabilidade */
@media screen and (max-width: 900px) {
    #footer-content {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
    }

    .footer-budgets, .footer-shops, #footer-contacts, .footer-themes {
        width: 100%;
        text-align: center;
    }

    .footer-link, .footer-theme {
        justify-content: center;
    }

    .contact-link-container {
        justify-content: center;
    }
}