.maps{
    display: flex;
    justify-content: center;
    position: relative;
}

.maps iframe{
    display: flex;
    position: relative;
    width: 800px;
    height: 500px;
    margin-top: 5%;
}

.maps iframe:not(:last-child){
    margin-right: 120px;
}

.streets{
    display: flex;
    height: 10px;
}

.streets p:not(:last-child){
    margin-left: 95px;
}

.streets p:not(:first-child){
    margin-left: 560px;
}

.address{
    margin-top: 4%;
    color: var(--color-font);
    font-weight: 700;
}