.maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.maps iframe{
    display: flex;
    position: relative;
    height: 500px;
    margin-top: 5%;
    width: 100%;
}

.streets{
    display: flex;
    height: 10px;
}

.address{
    color: var(--color-font);
    font-weight: 700;
    font-family: 'Montserrat';
}

.location-container h2 {
    font-family: 'Montserrat';
    margin-bottom: 35px;
    color: var(--color-font);
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.location-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 115px 60px 115px;
    box-sizing: border-box;
}

.locations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .locations {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    .maps {
        height: 375px;
    }
}