.services-container {
    width: 100%;
    height: 100%;
    color: var(--color-font);
    padding: 25px 115px 65px 115px; 
    box-sizing: border-box;
}

.services-container h2 {
    margin-bottom: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 2px ;
    text-transform: uppercase;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.service-icon {
    font-size: 46px;
}

.service-item {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    background-color: var(--color-foreground);
    text-align: center;
    padding: 30px 15px;
    box-sizing: border-box;
}

.service-name {
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
}

.service-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    letter-spacing: 0.5px;
    line-height: 1.625;
}

.service-button {
    width: 100px;
    height: 25px;
    background-color: var(--color-orange);
    color: white;
    border: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 25px;
}

.service-button:hover {
    color: var(--color-font);
    background-color: var(--color-background);
    cursor: pointer;
}

/* Adicionar responsabilidade */
@media screen and (max-width: 1150px) {
    .services-container {
        padding: 25px 50px 65px 50px; 
    }

    .services-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .services-container {
        padding: 25px 50px 65px 50px; 
    }

    .services-grid {
        grid-template-columns: 1fr;
    }
}